body {
    /*font-family: Helvetica, sans-serif;*/
    background: url('../images/back.jpg');
    background-attachment: fixed;
}

.back {
    border: 3px solid rgb(155, 156, 156);
    border-radius: 10px;
    background: rgba(230, 246, 255, 0.51);
}

/*li {*/
/*    list-style: none;*/
/*}*/

/*.preloader {*/
/*    background: url("../images/preloader.gif") center center / contain no-repeat;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

/*.card {*/
/*    border: 1px solid black;*/
/*    border-radius: 10px;*/
/*    padding: 10px;*/
/*    margin: 20px auto;*/
/*    width: 500px;*/
/*}*/

/*.bank {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.bank img {*/
/*    width: 200px;*/
/*}*/

/*.wrapper {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

/*.header {*/
/*    text-align: center;*/
/*}*/

/*.head-form {*/
/*    border: 3px solid #89b2c1;*/
/*    background: white;*/
/*    border-radius: 25px;*/
/*    width: 40%;*/
/*    padding: 10px 0;*/
/*    margin: 0 auto;*/
/*}*/

/*.lists {*/
/*    background: #e6e6e6;*/
/*    border: 3px solid white;*/
/*    border-radius: 15px;*/
/*    padding: 30px 15px;*/
/*    margin: 20px 0;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

/*.lists-item {*/
/*    width: 22%;*/
/*    background: white;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    border-radius: 10px;*/
/*    border: 2px solid #89b2c1;*/
/*}*/

/*.form {*/
/*    padding: 5px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*}*/

/*.form input {*/
/*    width: 100%;*/
/*    padding: 5px;*/
/*    text-align: center;*/
/*    margin: 5px 0;*/
/*    border: 0;*/
/*    border-bottom: 1px solid #9a9a9a;*/
/*    outline: none;*/
/*}*/

/*.form [type="submit"] {*/
/*    padding: 5px 10px;*/
/*    border: 0;*/
/*    border-radius: 15px;*/
/*    background: #7eddff;*/
/*    outline: none;*/
/*    cursor: pointer;*/

/*}*/

/*.lists-item__box {*/
/*    margin: 20px 0;*/
/*}*/

/*.lists-item__box-task {*/
/*    padding: 5px 0;*/
/*}*/

/*.lists-item__box-task__name {*/
/*    margin: 5px auto;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    border: 0;*/
/*}*/

/*.lists-item__box-task button {*/
/*    background: #7eddff;*/
/*    border: 0;*/
/*    border-radius: 10px;*/
/*    margin: 0 5px;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*}*/

/*.lists-item__box-task button:last-child {*/
/*    background: #ff5847;*/
/*    color: white;*/
/*}*/

/*.edit-form {*/
/*    text-align: center;*/
/*    padding: 5px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.edit-form input,*/
/*.edit-form textarea {*/
/*    padding: 5px;*/
/*    text-align: center;*/
/*    margin: 5px 0;*/
/*    border-radius: 4px;*/
/*    border: 1px solid #979797;*/
/*}*/

/*.edit-form [type="submit"] {*/
/*    width: 40%;*/
/*    margin: 0 auto;*/
/*}*/
